* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

.icon_lists li {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    margin-left: 5px;
    margin-top: 5px;
}

.icon_lists .icon {
    font-size: 22px;
    line-height: 60px;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

.icon_lists li:hover .icon {
    font-size: 50px;
}

.icon_lists li.selected {
    background-color: #e1e1e1;
}



