<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>表单</title>
</head>
<body>
<th:block th:fragment="resource">
    <link rel="stylesheet" th:href="@{/resource/plugin/amazing-form/css/amazing-form.css}"/>
    <script th:src="@{/resource/plugin/amazing-form/js/inherit.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/form.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/form-element.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/input-hidden.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/input-text.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/input-check.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/input-password.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/select.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/textarea.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/combo.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/combo-tree.js}"></script>
    <script th:src="@{/resource/plugin/amazing-form/js/verifier.js}"></script>
</th:block>
</body>
</html>